.settings-container {
    height: 100%;
    overflow-y: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../../content/pexels-pixabay-40568.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}

.settings-select {
    width: 20%;
    margin-bottom: 10px;
}

.settings-input-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}
