.company-container {
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../../content/pexels-pixabay-40568.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.company-cards {
    padding-top: 50px;
    align-content: center;
    text-align: center;
    color: black;
}

.clinic-card {
    width: 18rem;
}