.login-container {
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../../../content/pexels-pixabay-40568.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login-form {
    padding-top: 50px;
}

.input-group-prepend span{
    width: 50px;
    background-color: #FFC312;
    color: black;
    border:0 !important;
}

#login-btn {
    color: black;
    background-color: #FFC312;
    width: 40%;
}

#login-linked-acc{
    color: black;
    background-color: #FFC312;
    width: 40%;
}

.btn-login-group {
    text-align: center;
}

#login-btn:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
}

.card {
    margin-top: auto;
    margin-bottom: auto;
    background-color: #e9ecef !important;
    border: none !important;
    width: 400px;
    position: relative;
}

.error-msg {
    color: red;
    margin-bottom: 10px;
}

.card-header {
    background-color: #e9ecef !important;
}

.remember-me {
    padding-bottom: 10px;
}
