.Footer {
    background-color: #61dafb;
    height: 35px;
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.footer-author {
    white-space: nowrap;
    font-size: .9vw;
}

@media screen and (min-width: 371px) and (max-width: 1050px) {
    .footer-author {
        font-size: 2vw;
    }
}

@media screen and (max-width: 370px) {
    .footer-author {
        font-size: 2.2vw;
    }
}
