.row, .col {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.home-container {
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../content/pexels-vidal-balielo-jr-1250655.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.typing-class {
    padding-bottom: 200px;
}

.button-login {
    height: 60px;
    width: 150px;
}

.typing-demo {
    position: absolute;
    top: 40%;
    left: 17%;
    color: black;
    width: 40ch;
    animation: typing 5s steps(40), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 3vw;
    text-shadow: 2px 2px #35e6ff;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}