.Navbar {
    background-color: #61dafb;
    height: 50px;
    margin: 0 !important;
}

.nav-button:hover {
    background-color: #ff4852;
    transition: .3s;
}

.nav-button {
    background-color: #dc3545;
    margin-right: 1px;
}

.login-text {
    color: #fff;
    text-align: center;
}

.login-text:hover {
    cursor: default;
}

.automed-text {
    color: #fff;
    font-weight: bold;
}

.automed-text:hover {
    text-decoration: none;
    color: #fff;
}
