html, body {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
}

nav {
    width: 100%;
    min-height: 50px;
}

.content-header {
    position: absolute;
    padding-bottom: 35px;
    min-width: 100%;
    height: calc(100% - 50px);
}

footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:35px;
    background:#b5fbbd;
    padding: 0;
}
