.task-container {
    height: 100%;
    overflow-y: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../../content/pexels-pixabay-40568.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.task-inputs {
    padding-top: 50px;
}

.task-select {
    width: 20% !important;
    margin-bottom: 10px;
}

.task-input-label {
    color: white;
}

.task-input-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}
